<div class="container-fluid">
  <app-navigation-option [path]="'/collaborators'"></app-navigation-option>
  <h3>Editar colaborador</h3>
  <form [formGroup]="form" #f="ngForm">
    <label>Nome</label>
    <input class="form-control" [ngClass]="{'invalid-answer': isBlacklistMember() || isNameEmpty()}" type="text"
           formControlName="name">
    <div class="error-message" *ngIf="isBlacklistMember()">Essa pessoa está na Blacklist e não pode ser adicionada como
      colaborx. :(
    </div>
    <div class="error-message" *ngIf="isNameEmpty()">Esse campo é obrigatório!</div>
    <label>CPF</label>
    <input class="form-control" [ngClass]="{'invalid-answer': isCpfEmpty()}" type="text" formControlName="cpf">
    <div class="error-message" *ngIf="isCpfEmpty()">Esse campo é obrigatório!</div>
    <label>E-mail</label>
    <input class="form-control" [ngClass]="{'invalid-answer': isEmailEmpty()}" type="email" formControlName="email">
    <div class="error-message" *ngIf="isEmailEmpty()">Esse campo é obrigatório!</div>
    <div class="row justify-content-between">
      <div class="col-5">
        <label>Número de telefone</label>
        <input class="form-control" [ngClass]="{'invalid-answer': isPhoneEmpty()}" type="tel" formControlName="telephone">
        <div class="error-message" *ngIf="isPhoneEmpty()">Esse campo é obrigatório!</div>
      </div>
      <div class="col-5">
        <label>Data de Nascimento</label>
        <input class="form-control" [ngClass]="{'invalid-answer': isDateEmpty()}" type="date" formControlName="dateOfBirth">
        <div class="error-message" *ngIf="isDateEmpty()">Esse campo é obrigatório!</div>
      </div>
    </div>
    <label>Setor</label>
    <select class="form-control" [ngClass]="{'invalid-answer': isSectorFull()}" formControlName="sectorId"
            (change)="setSector($event)">
      <option *ngFor="let sector of sectorsList" [ngValue]="sector.id">{{sector.name}}</option>
    </select>
    <div class="error-message" *ngIf="isSectorFull()">Essa pessoa não pode ser associada a este setor...</div>
    <div class="buttons-wrapper row justify-content-end">
      <button class="round-button grey col-2" [routerLink]="['/collaborators']">Cancelar</button>
      <button class="round-button blue col-2" (click)="onSubmit()">Concluir</button>
    </div>
  </form>
</div>
