h3{
  margin-bottom: 3vh;
}

.form-group{
  padding: 4vh 0px;
}

label{
  margin-top: 2vh;
}

.buttons-wrapper{
  margin-top: 4vh;
  button{
    margin-left: 2vh;
  }
  button.blue{
    background-color: var(--lightBlue);
  }
  button.grey{
    background-color: var(--dark);
  }
}

.error-message{
  color: var(--red);
  font-family: Poppins-Regular, sans-serif;
  font-size: 1.5vh;
}

.invalid-answer{
  border: var(--red) 1px solid;
}
